<!-- templates/instrucoes.html -->
{% extends "base.html" %}
{% block content %}
<h2>Instruções de Uso</h2>
<p>Aqui vão as instruções de uso da planilha.</p>

<h3>Como Adicionar Produtos ao Estoque</h3>
<p>Para adicionar produtos ao estoque, vá até a seção de <strong>Controle de Estoque</strong> e clique em "Adicionar Produto". Preencha os campos obrigatórios e clique em "Salvar".</p>

<h3>Como Registrar Vendas</h3>
<p>Na seção <strong>Vendas</strong>, você pode registrar uma nova venda preenchendo os detalhes do produto vendido e a quantidade. Isso atualizará automaticamente o estoque.</p>

<h3>Consultar Relatórios</h3>
<p>Utilize a seção <strong>Dashboards</strong> para visualizar relatórios e análises financeiras. Escolha a opção desejada para obter informações detalhadas.</p>

<h3>Controle de Entradas e Saídas</h3>
<p>Registre entradas e saídas de produtos na seção correspondente para manter um controle preciso do estoque.</p>

<h3>Contato</h3>
<p>Se você tiver dúvidas ou precisar de assistência, entre em contato com o suporte através do e-mail: juliocamposmachado@gmail.com</p>

{% endblock %}
